@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #664aff;
}
.searchInput .resultBox {
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  z-index: 999;
  max-height: 280px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-color: aqua;
  overflow-y: auto;
}
.searchInput input:focus {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.searchInput input {
  border-start-end-radius: 0px;
  border-end-end-radius: 0px;
}
.searchInput.act .resultBox {
  opacity: 1;
  pointer-events: auto;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.act .resultBox li {
  display: block;
}
.resultBox li:hover {
  background: #efefef;
}
