@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #664aff;
}

.searchInput .resultBox {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  max-height: 280px;
  overflow-y: auto;
}
.searchInput.act input {
  border-end-start-radius: 0px;
}
.searchInput.act .resultBox {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.act .resultBox li {
  display: block;
}
.resultBox li:hover {
  background: #efefef;
}
